$font-main: 'Source Sans Pro', sans-serif;
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-black: 900;
$font-weight-semi-bold: 600;

$color-beige: #BEA67C;
$color-white: #FFF;
$color-black: #000;

