@media screen and (max-width: 992px) {
  .header {
    margin-top: 20px;
    margin-left: 30px;
  }

  .header h1 {
    font-size: 15px;
  }

  .header p {
    font-size: 15px;
    margin-top: 5px;
  }

  .main-nav {
    font-size: 20px;
    margin-right: -40px;
    margin-top: 20px;
  }

  .first-hero-text{
    font-size: 30px;
  }

  .second-hero-text{
    font-size: 30px;
  }

  .hero-text p{
    font-size: 15px;
  }

  .products-container-title h1{
    font-size: 40px;
  }

  .products-container-title p{
    width: 25%;
  }

  .products-description{
    padding: 20px 30% 20px 2px;
    margin-left: 50px;
  }

  .most-popular img{
    width: 40%;
    height: 40%;
  }

  .most-popular{
    margin-top: -100px;
    left: 71%;
  }

  .about-us-header h1{
    font-size: 40px;
  }

  .about-us-description p{
    font-size: 20px;
    margin-top: -120px;
  }

  .about-us-description h1{
    font-size: 20px;
    margin-top: -130px;
  }
}